
.icon-phone:before { content: '\e800'; } /* '' */
.icon-play-circled2:before { content: '\e801'; } /* '' */
.icon-flight:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-star-filled:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-quote-left:before { content: '\e808'; } /* '' */
.icon-quote-right:before { content: '\e809'; } /* '' */
.icon-pause-circled:before { content: '\e80a'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */